.chat
  .chat__tittle
    %ul.chat__tittle_group
      %li sampleグループ
      %li.chat__tittle_user kaz
    %button.chat__tittle_button Edit
  .chat__room
    .chat__room_user
        = message.user.name
    .chat__room_day
        = format_posted_time(message.created_at)
    .chat__room_anser
      - if message.content.present?
        %p.lower-message__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
