@import "./reset";
@import "font-awesome";
@import "config/colors";
@import "modules/flash";
@import "modules/user";
@import "modules/group";

a:link    { color:#FFFFFF; text-decoration:none }
a:visited { color:#FFFFFF; text-decoration:none }
a:hover   { color:#FFFFFF; text-decoration:none }
a:active  { color:#FFFFFF; text-decoration:none }

.side-bar {
  width: 300px;
  background: #2f3e51;
  color: #FFFFFF;
  float: left;

  &__header {
    height: 100px;
    font-size: 16px;
    background: #253141;
    padding: 0px 20px;
    line-height: 100px;

    &_user {
      float: left;
      font-style: bold;
    }
    &_icon {
      float: right;
      margin-left: 10px;
      color: #FFFFFF;
    }
  }

  &__tittle{
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    overflow: auto;

    &_group{
      font-size: 15px;
    }
    &_anser{
      font-size: 11px;
      margin: 5px 0 40px 0;
    }
  }
}

.chat{
  height: 100vh;
  width: calc(100% - 300px);
  float: right;

  &__header{
    padding: 0 40px;
    box-sizing: border-box;
    height: 100px;

    &__left{
      float: left;
    }
      &_group{
        padding-top: 35px;
        font-size: 20px;
        color: #333;
      }
      &_user{
        font-size:12px;
        color: #999999;
      }
    &_button{
      float: right;
      height: 40px;
      padding: 0 20px 0 20px;
      margin: 28px 40px 0 0;
      border: none;
      color: #38AEF0;
      background: #38AEF0;
    }
  }

  &__room{
    padding: 46px 0 0 40px;
    border-top: 1px solid #eeeeee;
    height: calc(100% - 100px - 90px);
    box-sizing: border-box;
    overflow: auto;

    &_user{
      font-size: 16px;
      font-style: bold;
      color: #434A54;
      float: left;
    }
    &_day{
      float: left;
      margin-left:10px;
      color: #999999;
      font-size: 12px;
    }
    &_anser{
      color: #434A54;
      font-size: 14px;
      padding: 10px 0 40px 0;
      clear: both;
    }
  }
  &__form{
    box-sizing: border-box;
    background: #DDDDDD;
    font-size: 16px;
    height: 90px;
    padding: 20px 50px 20px 40px;
    width: 100%;

    &_left{
      float: left;
      width: 80% ;
    }
      &_text{
        color: #434A54;
        border: none;
      }
        &_fieid{
        height: 50px;
        padding-left: 20px;
        width: 90%;
        box-sizing: border-box;
        }
        &_icon{
          line-height: 50px;
          font-size: 20px;
          float: right;
          width: 10%;
        }
          &_hidden{
            display:none;
          }
    &_right{
      float: right;
      width: 10%;
    }
      &_button{
        line-height: 50px;
        box-sizing: border-box;
        background: #38AEF0;
        color: #FFFFFF;
        border: none;
        padding: 0 20px;
      }
  }
}

